{% extends "base.html" %}
{% block body %}
<svg width="0" height="0" style="position:absolute;z-index:-1;">
  <!-- Used to remove pixels with any transparency -->
  <defs>
    <filter id="remove-alpha" x="0" y="0" width="100%" height="100%">
      <feComponentTransfer>
        <feFuncA type="discrete" tableValues="0 1"></feFuncA>
      </feComponentTransfer>
      </filter>
  </defs>
</svg>

<div class="container-fluid">
    <div class="row justify-content-center">
      <div class='col-sm-2' id='scoreboard'>
        <h4>Scoreboard</h4>
      </div>
      <div class="col-sm-8">
        Current Timer:
        <div id='timer'>
          {{currTime}}
        </div>
        <div class='row'>
          <div class='col'>
            <figure id='canvasTint'>
              <div id='tintHelper'></div>
              <canvas id='drawingCanvas' height="500" width="720" style='border: 1px solid black'></canvas>
            </figure>
            <style id='tintstyle'>
              #canvasTint {
                height: 500px;
                position: relative;
                float: left;
              }

              #tintHelper {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background: rgba(0,0,0,0);
                transition: .3s linear;
                pointer-events: none;
              }
            </style>
          </div>
        </div>
        <div class='row'>
          <div class='col'>
            <div id='wordSelection'>
              Choose your word:
              <button type="button" class="btn btn-light" onclick='chooseWord(0)'>Word1</button>
              <button type="button" class="btn btn-light" onclick='chooseWord(1)'>Word2</button>
              <button type="button" class="btn btn-light" onclick='chooseWord(2)'>Word3</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class = "row">
          <div id="chat">
            <h4>Chatlog</h4>
            <ul style="list-style: none; padding-left: 0; overflow-y: scroll; word-wrap: break-word; width: 200px; height: 250px" id="chatlog">
            </ul>
            <input type="text" id="msg"/>
            <input type="submit" id="send"/>
          </div>
        </div>
        <img src='../static/trash.png' id='clearbtn' width='50' height='50'>
        <img src='../static/brush.png' id='penbtn' width='50' height='50'></button>
        <img src='../static/bucket.png' id='paintbtn' width='50' height='50' style='opacity: .5;'></button>
        <div id = "clrwheel" class = "row">

        </div>
      </div>
<!--
    <div id="chatlog">
    </div>
    <form action="" method="POST" id="chatform">
        <input type="text" id="message" placeholder="Messages"/>
        <input type="submit"/>
    </form>
 -->

</div>
</div>
<button type="button" class="btn btn-light" href="/">Back</button>
{% endblock %}
{% block footer %}
<script type="text/javascript" src="../static/socketstuff.js"></script>
{% endblock %}
