{% extends "base2.html" %}
{% block body %}
<div class="container">
    <div class="row">
      <div class="col-sm-8">
        Current Timer:
        <div id='timer'>
          {{currTime}}
        </div>
        <canvas id='drawingCanvas' height="500" width="720" style='border: 1px solid black'></canvas><br>
        <div id='wordSelection'>
          Choose your word:
          <button type="button" class="btn btn-light" onclick='chooseWord(0)'>Word1</button>
          <button type="button" class="btn btn-light" onclick='chooseWord(1)'>Word2</button>
          <button type="button" class="btn btn-light" onclick='chooseWord(2)'>Word3</button>
        </div>
      </div>
      <div class="col-sm-4">
        <div class = "row">
          <div id="chat">
            <h4>Chatlog</h4>
            <ul style="list-style: none; padding-left: 0; overflow-y: scroll; word-wrap: break-word; width: 200px; height: 250px" id="chatlog">
            </ul>
            <input type="text" id="msg"/>
            <input type="submit" id="send"/>
          </div>
        </div>
        <button id='clearbtn' onclick='clearBoard()'>Clear Board</button>
        <div id = "clrwheel" class = "row">

        </div>
      </div>
<!--
    <div id="chatlog">
    </div>
    <form action="" method="POST" id="chatform">
        <input type="text" id="message" placeholder="Messages"/>
        <input type="submit"/>
    </form>
 -->

</div>
</div>
<button type="button" class="btn btn-light" href="/">Back</button>
{% endblock %}
{% block footer %}
<script type="text/javascript" src="../static/socketstuff.js"></script>
{% endblock %}
