{% extends "base.html" %}
{% block body %}
{% set msgs = get_flashed_messages() %}
{% for each in msgs %}
<center>
<div class="alert alert-success" role="alert">
  {{each}}
</div>
</center>
{% endfor %}
<!--
Current Timer:
div id='timer'>
  {{currTime}}
</div>

<canvas id='drawingCanvas' height="500" width="500" style='border: 1px solid black;'></canvas><br>
<button id='clearbtn' onclick='clearBoard()'>Clear Board</button>

<a role="button" class="btn btn-light" href="/login">Login</a>
<a role="button" class="btn btn-light" href="/reg">Register</a>
-->
<div class = "container">
<br/>
  <h1 style="text-align: center; font-size:50px;"><span style="color: #3366ff;"><strong>Scribble</strong></span></h1>
  <div class = "row justify-content-center">
    <div id="play" style='text-align:center;'>
    <center>
      <form method="GET" action="/game">
        <input class="form-control" type="text" value="" placeholder="Room ID (join a specific game)" name='roomID' id="roomInput"></input>
        <br/>
        <button type='submit' role="button" class="btn btn-success">Play</button>
      </form>
      <hr>
      <p><strong>How to Play</strong></p>
      Scribble is a multiplayer drawing game where players take turns drawing and guessing the chosen word. <br>
      If it is your turn to draw, choose one of the three words and draw in on the canvas. <br>
      If you are not drawing, type your guess in chat. <br>
      As you earn points, it will be displayed on the scoreboard.
    </div>
    <center>
  </div>
</div>

{% endblock %}
