{% extends "base.html" %}
{% block body %}
<br>
<font size="6"><center><i>
    Welcome</i>  &nbsp
    <text style="font-family:courier;">
    <b>{{username}}</b></text>
</center></font>

<div class = "container">
  <div class = "row justify-content-center">
    <div class = 'col-md-2' style='text-align:center;'>
      <form method="GET" action="/game">
        <input class="form-control" type="text" value="" placeholder="Room ID" name='roomID' id="roomInput"></input>
        <button type='submit' role="button" class="btn btn-light">Play</button>
      </form>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <center><b>
      Profile Picture</b><br><br>

      <canvas id='drawingCanvas' height="100" width="100" style='border: 1px solid black'></canvas><br><br>
      <button id='clearbtn' onclick='clearBoard()'>Clear Board</button>
    <form action="/save" method="post">
      <input type="hidden" value="" name="pic" id="pic"></input>
      <button id='finishbtn' onclick='finishDrawing()' type="submit" >Finish Drawing</button>
    </form>
    </div></center>



    <div class="col-sm"><b><center>
      Friends</b>
      <br>
      {% for each in friendlist %}
      {{each}}<br>
      {% endfor %}
      <br/>
      <br>

      <div class = "container">
	<div class = "row justify-content-center">
	  <div class = 'col-md-5' style='text-align:center;'>
	    <form method="GET" action="/friends">
              <input class="form-control" type="text" value="" placeholder="Friend's username" name="friend" id="friend"></input>
              <button type="submit" role="button" class="btn btn-light">Add Friend</button>
	    </form>
	  </div>
	</div>
      </div>
    </div>
  </div><br></center>
  {% set msgs = get_flashed_messages() %}
  {% for each in msgs %}
    <center><p style="color:red;">{{each}}<p></center>
  {% endfor %}
  <script type="text/javascript" src="../static/userprofile.js"></script>
  {% endblock %}
