{% extends "base.html" %}
{% block body %}
<div class="container">
    <div class="row">
      <div class="col-sm-8">
        Current Timer:
        <div id='timer'>
          {{currTime}}
        </div>
      <canvas id='drawingCanvas' height="500" width="720" style='border: 1px solid black'></canvas><br>
      <button id='clearbtn' onclick='clearBoard()'>Clear Board</button>
      </div>
      <div class="col-sm-4">
        <div class = "row">
          <div id="chat">
            <h4>Chatlog</h4>
            <ul style="list-style: none; padding-left: 0;" id="chatlog">
              <li>&nbsp;</li>
              <li>&nbsp;</li>
              <li>&nbsp;</li>
              <li>&nbsp;</li>
              <li>&nbsp;</li>
              <li>&nbsp;</li>
              <li>&nbsp;</li>
              <li>&nbsp;</li>
              <li>&nbsp;</li>
              <li>&nbsp;</li>
              <li>&nbsp;</li>
            </ul>
            <input type="text" id="msg"/>
            <input type="submit" id="send"/>
          </div>
        </div>
        <div id = "clrwheel" class = "row">

        </div>
      </div>
<!--
    <div id="chatlog">
    </div>
    <form action="" method="POST" id="chatform">
        <input type="text" id="message" placeholder="Messages"/>
        <input type="submit"/>
    </form>
 -->

</div>
</div>
<a role="button" class="btn btn-light" href="/">Back</button>
{% endblock %}
{% block footer %}
<script type="text/javascript" src="../static/socketstuff.js"></script>
{% endblock %}
