{% extends "base.html" %}
{% block body %}
Current Timer:
<div id='timer'>
  {{currTime}}
</div>
<canvas id='cursor' height='21' width='21' style='position: absolute; pointer-events: none; transform: translate(-50%, -50%);'></canvas>
<canvas id='drawingCanvas' height="500" width="500" style='border: 1px solid black; cursor: none;'></canvas><br>
<button id='clearbtn' onclick='clearBoard()'>Clear Board</button>
<a role="button" class="btn btn-light" href="#">Login</a>
<a role="button" class="btn btn-light" href="#">Register</a>
<a role="button" class="btn btn-light" href="/game">Play</a>


{% endblock %}
