{% extends "base.html" %}
{% block body %}
<center>
  <form method="POST" action="/register">
    Username:
    <input type="text" name="user" placeholder="Input username"><br>
    Password:
    <input type="text" name="pass" placeholder="Input password"><br>
    Re-enter Password:
    <input type="text" name="pass2" placeholder="Re-enter password"><br>
    <input type="submit" value="Register">
  </form>
</center>
<br>
<br>
<a role="button" class="btn btn-light" href="/">Back</button>


{% endblock %}
