{% extends "base.html" %}
{% block body %}
Your username:
{{username}}
<br/>
Your friends 
{{friendlist}}
<br/>
Your profile picture:

<canvas id='drawingCanvas' height="500" width="1000" style='border: 1px solid black'></canvas><br>
      <button id='clearbtn' onclick='clearBoard()'>Clear Board</button>
      <button id='finishbtn' onclick='finishDrawing()'>Finish Drawing</button>

<a role="button" class="btn btn-light" href="/">Back to Home</a>
<script type="text/javascript" src="../static/userprofile.js"></script>
{% endblock %}